@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --icon-color: #E4DCCF;
  --icon-color: #a49e94;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {}

::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #dbcfcf;
  border-radius: 10px;
}

/* Global CSS for Toastify */

.Toastify__toast {
  font-size: 14px;
}

.container {
  width: 1100px !important;
  margin: 0px auto;
}

.breadcrumb {
  border-bottom: 1px solid #f3ecec;
  display: flex;
  height: 40px;
  font-size: 14.5px;
}